---

---
<template data-art="substantiv">
    <table>
        <caption>Substantive</caption>
        <thead>
        <tr>
            <th scope="col">Numerus</th>
            <th scope="col">Kasus</th>
            <th scope="col" colspan="2">o-Dekl.</th>
            <th scope="col">a-Dekl.</th>
            <th scope="col" colspan="2">kons. Dekl.</th>
            <th scope="col">e. Dekl.</th>
            <th scope="col" colspan="2">i-Dekl.</th>
            <th scope="col">u-Dekl.</th>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row" rowspan="6" data-numerus="Sg." data-ignore_marking="yes">Sg.</th>
            <th scope="row">Nom.</th>
            <td>serv-us</td>
            <td>offici-um</td>
            <td>fili-a</td>
            <td>~</td>
            <td>~</td>
            <td>r-&emacr;s</td>
            <td>sit-is</td>
            <td>v&imacr;s</td>
            <td>exercit-us</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Gen.</th>
            <td>serv-&imacr;</td>
            <td>offici-&imacr;</td>
            <td>fili-ae</td>
            <td>patr-is</td>
            <td>oner-is</td>
            <td>r-e&imacr;</td>
            <td>sit-is</td>
            <td>-</td>
            <td>exercit-us</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Dat.</th>
            <td>serv-&omacr;</td>
            <td>offici-&omacr;</td>
            <td>fili-ae</td>
            <td>patr-&imacr;</td>
            <td>oner-&imacr;</td>
            <td>r-e&imacr;</td>
            <td>sit-&imacr;</td>
            <td>-</td>
            <td>exercit-u&imacr;</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Akk.</th>
            <td>serv-um</td>
            <td>offici-um</td>
            <td>fili-am</td>
            <td>patr-em</td>
            <td>~</td>
            <td>r-em</td>
            <td>sit-im</td>
            <td>v-im</td>
            <td>exercit-um</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Abl.</th>
            <td>serv-&omacr;</td>
            <td>offici-&omacr;</td>
            <td>fili-&amacr;</td>
            <td>patr-e</td>
            <td>oner-e</td>
            <td>r-&emacr;</td>
            <td>sit-e</td>
            <td>v-&imacr;</td>
            <td>exercit-&umacr;</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Vok.</th>
            <td>serv-e</td>
            <td>-</td>
            <td>fili-a</td>
            <td>~</td>
            <td>-</td>
            <td>r-&emacr;</td>
            <td>sit-is</td>
            <td>vir-&emacr;s</td>
            <td>exercit-us</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row" rowspan="5" data-numerus="Pl." data-ignore_marking="yes">Pl.</th>
            <th scope="row">Nom.</th>
            <td>serv-&imacr;</td>
            <td>offici-a</td>
            <td>fili-ae</td>
            <td>patr-&emacr;s</td>
            <td>oner-a</td>
            <td>r-&emacr;s</td>
            <td>sit-&emacr;s</td>
            <td>v&imacr;r-ium</td>
            <td>exercit-&umacr;s</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Gen.</th>
            <td>serv-&omacr;rum</td>
            <td>offici-&omacr;rum</td>
            <td>fili-&amacr;rum</td>
            <td>patr-um</td>
            <td>oner-um</td>
            <td>r-um</td>
            <td>sit-ium</td>
            <td>v&imacr;r-ium</td>
            <td>exercit-uum</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Dat.</th>
            <td>serv-&imacr;s</td>
            <td>offici-&imacr;s</td>
            <td>fili-&imacr;s</td>
            <td>patr-ibus</td>
            <td>oner-ibus</td>
            <td>r-ibus</td>
            <td>sit-ibus</td>
            <td>v&imacr;r-ibus</td>
            <td>exercit-ibus</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Akk.</th>
            <td>serv-&omacr;s</td>
            <td>offici-a</td>
            <td>fili-&amacr;s</td>
            <td>patr-&emacr;s</td>
            <td>oner-a</td>
            <td>r-&emacr;s</td>
            <td>sit-&emacr;s</td>
            <td>v&imacr;r-&emacr;s</td>
            <td>exercit-&umacr;s</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Abl.</th>
            <td>serv-&imacr;s</td>
            <td>offici-&imacr;s</td>
            <td>fili-&imacr;s</td>
            <td>patr-ibus</td>
            <td>oner-ibus</td>
            <td>r-ibus</td>
            <td>sit-ibus</td>
            <td>v&imacr;r-ibus</td>
            <td>exercit-ibus</td>
        </tr>
        </tbody>
    </table>
</template>

<template data-art="verb" data-tempus="PPA">
    <table>
        <caption>PPA (Partizip Präsens Aktiv)</caption>
        <thead>
        <tr>
            <th scope="col">Numerus</th>
            <th scope="col">Kasus</th>
            <th scope="col">rog&amacr;re</th>
            <th scope="col">mon&emacr;re</th>
            <th scope="col">aud&imacr;re</th>
            <th scope="col">capere</th>
            <th scope="col">quaerere</th>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row" rowspan="5" data-numerus="Sg." data-ignore_marking="yes">Sg.</th>
            <th scope="row" data-alternitiveKasus="Nom.">Nom. (& Vok.)</th>
            <td>rog&amacr;ns</td>
            <td>mon&emacr;ns</td>
            <td>audi&emacr;ns</td>
            <td>capi&emacr;ns</td>
            <td>quaer&emacr;ns</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Gen.</th>
            <td>rogant-is</td>
            <td>monent-is</td>
            <td>audient-is</td>
            <td>capient-is</td>
            <td>quaerent-is</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Dat.</th>
            <td>rogant-&imacr;</td>
            <td>monent-&imacr;</td>
            <td>audient-&imacr;</td>
            <td>capient-&imacr;</td>
            <td>quaerent-&imacr;</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Akk.</th>
            <td>rogant-em <br>(n.: rog&amacr;ns)</td>
            <td>monent-em <br>(n.: mon&emacr;ns)</td>
            <td>audient-em <br>(n.: audi&emacr;ns)</td>
            <td>capient-em <br>(n.: capi&emacr;ns)</td>
            <td>quaerent-em <br>(n.: quaer&emacr;ns)</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Sg.">
            <th scope="row">Abl.</th>
            <td>rogant-e</td>
            <td>monent-e</td>
            <td>audient-e</td>
            <td>capient-e</td>
            <td>quaerent-e</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row" rowspan="5" data-numerus="Pl." data-ignore_marking="yes">Pl.</th>
            <th scope="row">Nom.</th>
            <td>rogant-es <br>(n.: rog&amacr;ns)</td>
            <td>monent-es <br>(n.: mon&emacr;ns)</td>
            <td>audient-es <br>(n.: audi&emacr;ns)</td>
            <td>capient-es <br>(n.: capi&emacr;ns)</td>
            <td>quaerent-es <br>(n.: quaer&emacr;ns)</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Gen.</th>
            <td>rogant-ium</td>
            <td>monent-ium</td>
            <td>audient-ium</td>
            <td>capient-ium</td>
            <td>quaerent-ium</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Dat.</th>
            <td>rogant-ibus</td>
            <td>monent-ibus</td>
            <td>audient-ibus</td>
            <td>capient-ibus</td>
            <td>quaerent-ibus</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Akk.</th>
            <td>rogant-es <br>(n.: rogant-ia)</td>
            <td>monent-es <br>(n.: monent-ia)</td>
            <td>audient-es <br>(n.: audient-ia)</td>
            <td>capient-es <br>(n.: capient-ia)</td>
            <td>quaerent-es <br>(n.: quaerent-ia)</td>
        </tr>
        <tr class="red_after_minus" data-numerus="Pl.">
            <th scope="row">Abl.</th>
            <td>rogant-ibus</td>
            <td>monent-ibus</td>
            <td>audient-ibus</td>
            <td>capient-ibus</td>
            <td>quaerent-ibus</td>
        </tr>
        </tbody>
    </table>
</template>



<template data-art="verb" data-tempus="Futur" data-modus="Indikativ" data-genus="Aktiv">
    <table>
        <caption>Indikativ Futur</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;-b-&omacr;</td>
            <td>vid&emacr;-b-&omacr;</td>
            <td>audi-a-m</td>
            <td>capi-a-m</td>
            <td>quaer-a-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;-bi-s</td>
            <td>vid&emacr;-bi-s</td>
            <td>audi-&emacr;-s</td>
            <td>capi-&emacr;-s</td>
            <td>quaer-&emacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;-bi-t</td>
            <td>vid&emacr;-bi-t</td>
            <td>audi-e-t</td>
            <td>capi-e-t</td>
            <td>quaer-e-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;-bi-mus</td>
            <td>vid&emacr;-bi-mus</td>
            <td>audi-&emacr;-mus</td>
            <td>capi-&emacr;-mus</td>
            <td>quaer-&emacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;-bi-tis</td>
            <td>vid&emacr;-bi-tis</td>
            <td>audi-&emacr;-tis</td>
            <td>capi-&emacr;-tis</td>
            <td>quaer-&emacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;-bu-nt</td>
            <td>vid&emacr;-bu-nt</td>
            <td>audi-e-nt</td>
            <td>capi-e-nt</td>
            <td>quaer-e-nt</td>
        </tr>
        </tbody>
    </table>
</template>

<template data-art="verb" data-tempus="Präsens" data-modus="Indikativ" data-genus="Aktiv">
    <table>
        <caption>Indikativ Präsens</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">Infinitiv</th>
            <td>rog&amacr;-re</td>
            <td>vid&emacr;-re</td>
            <td>aud&imacr;-re</td>
            <td>cap-e-re</td>
            <td>quaer-e-re</td>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog-&omacr;</td>
            <td>vide-&omacr;</td>
            <td>audi-&omacr;</td>
            <td>capi-&omacr;</td>
            <td>quaer-&omacr;</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;-s</td>
            <td>vid&emacr;-s</td>
            <td>audi-s</td>
            <td>capi-s</td>
            <td>quaer-i-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>roga-t</td>
            <td>vide-t</td>
            <td>audi-t</td>
            <td>capi-t</td>
            <td>quaer-i-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;-mus</td>
            <td>vid&emacr;-mus</td>
            <td>aud&imacr;-mus</td>
            <td>capi-mus</td>
            <td>quaer-i-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;-tis</td>
            <td>vid&emacr;-tis</td>
            <td>aud&imacr;-tis</td>
            <td>capi-tis</td>
            <td>quaer-i-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>roga-nt</td>
            <td>vide-nt</td>
            <td>audi-u-nt</td>
            <td>capi-u-nt</td>
            <td>quaer-u-nt</td>
        </tr>
        </tbody>
    </table>
</template>
<template data-art="verb" data-tempus="Präsens" data-modus="Konjunktiv" data-genus="Aktiv">
    <table>
        <caption>Konjunktiv Präsens Aktiv</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog-e-m</td>
            <td>vide-a-m</td>
            <td>audi-a-m</td>
            <td>capi-a-m</td>
            <td>quaer-a-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog-&emacr;-s</td>
            <td>vide-&amacr;-s</td>
            <td>audi-&amacr;-s</td>
            <td>capi-&amacr;-s</td>
            <td>quaer-&amacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>roga-e-t</td>
            <td>vide-a-t</td>
            <td>audi-a-t</td>
            <td>capi-a-t</td>
            <td>quaer-a-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog-&emacr;-mus</td>
            <td>vide-&amacr;-mus</td>
            <td>audi-&amacr;-mus</td>
            <td>capi-&amacr;-mus</td>
            <td>quaer-&amacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog-&emacr;-tis</td>
            <td>vide-&amacr;-tis</td>
            <td>audi-&amacr;-tis</td>
            <td>capi-&amacr;-tis</td>
            <td>quaer-&amacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>roga-e-nt</td>
            <td>vide-a-nt</td>
            <td>audi-a-nt</td>
            <td>capi-a-nt</td>
            <td>quaer-a-nt</td>
        </tr>
        </tbody>
    </table>
</template>

<template data-art="verb" data-tempus="Imperfekt" data-modus="Indikativ" data-genus="Aktiv">
    <table>
        <caption>Indikativ Imperfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;-ba-m</td>
            <td>vid&emacr;-ba-m</td>
            <td>audi-&emacr;ba-m</td>
            <td>capi-&emacr;ba-m</td>
            <td>quaer-&emacr;ba-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;-b&amacr;-s</td>
            <td>vid&emacr;-b&amacr;-s</td>
            <td>audi-&emacr;b&amacr;-s</td>
            <td>capi-&emacr;b&amacr;-s</td>
            <td>quaer-&emacr;b&amacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;-ba-t</td>
            <td>vid&emacr;-ba-t</td>
            <td>audi-&emacr;ba-t</td>
            <td>capi-&emacr;ba-t</td>
            <td>quaer-&emacr;ba-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;-b&amacr;-mus</td>
            <td>vid&emacr;-b&amacr;-mus</td>
            <td>audi-&emacr;b&amacr;-mus</td>
            <td>capi-&emacr;b&amacr;-mus</td>
            <td>quaer-&emacr;b&amacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;-b&amacr;-tis</td>
            <td>vid&emacr;-b&amacr;-tis</td>
            <td>audi-&emacr;b&amacr;-tis</td>
            <td>capi-&emacr;b&amacr;-tis</td>
            <td>quaer-&emacr;b&amacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;-b&amacr;-nt</td>
            <td>vid&emacr;-b&amacr;-nt</td>
            <td>audi-&emacr;b&amacr;-nt</td>
            <td>capi-&emacr;b&amacr;-nt</td>
            <td>quaer-&emacr;b&amacr;-nt</td>
        </tr>
        </tbody>
    </table>
</template>
<template data-art="verb" data-tempus="Imperfekt" data-modus="Konjunktiv" data-genus="Aktiv">
    <table>
        <caption>Konjunktiv Imperfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;-re-m</td>
            <td>vid&emacr;-re-m</td>
            <td>aud&imacr;-re-m</td>
            <td>cap-e-re-m</td>
            <td>quaer-e-re-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;-r&emacr;-s</td>
            <td>vid&emacr;-r&emacr;-s</td>
            <td>aud&imacr;-r&emacr;-s</td>
            <td>cap-e-r&emacr;-s</td>
            <td>quaer-e-r&emacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;-re-t</td>
            <td>vid&emacr;-re-t</td>
            <td>aud&imacr;-re-t</td>
            <td>cap-e-re-t</td>
            <td>quaer-e-re-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;-r&emacr;-mus</td>
            <td>vid&emacr;-r&emacr;-mus</td>
            <td>aud&imacr;-r&emacr;-mus</td>
            <td>cap-e-r&emacr;-mus</td>
            <td>quaer-e-r&emacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;-r&emacr;-tis</td>
            <td>vid&emacr;-r&emacr;-tis</td>
            <td>aud&imacr;-r&emacr;-tis</td>
            <td>cap-e-r&emacr;-tis</td>
            <td>quaer-e-r&emacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;-re-nt</td>
            <td>vid&emacr;-re-nt</td>
            <td>aud&imacr;-re-nt</td>
            <td>cap-e-re-nt</td>
            <td>quaer-e-re-nt</td>
        </tr>
        </tbody>
    </table>
</template>


<template data-art="verb" data-tempus="Perfekt" data-modus="Indikativ" data-genus="Aktiv">
    <table>
        <caption>Indikativ Perfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        <tr>
            <th scope="row">Perfektstamm</th>
            <td>rog&amacr;v-</td>
            <td>v&imacr;d-</td>
            <td>aud&imacr;v-</td>
            <td>c&emacr;p-</td>
            <td>quaes&imacr;v-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;v-&imacr;</td>
            <td>v&imacr;d-&imacr;</td>
            <td>aud&imacr;v-&imacr;</td>
            <td>c&emacr;p-&imacr;</td>
            <td>quaes&imacr;v-&imacr;</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;v-ist&imacr;</td>
            <td>v&imacr;d-ist&imacr;</td>
            <td>aud&imacr;v-ist&imacr;</td>
            <td>c&emacr;p-ist&imacr;</td>
            <td>quaes&imacr;v-ist&imacr;</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;v-it</td>
            <td>v&imacr;d-it</td>
            <td>aud&imacr;v-it</td>
            <td>c&emacr;p-it</td>
            <td>quaes&imacr;v-it</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;v-imus</td>
            <td>v&imacr;d-imus</td>
            <td>aud&imacr;v-imus</td>
            <td>c&emacr;p-imus</td>
            <td>quaes&imacr;v-imus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;v-itis</td>
            <td>v&imacr;d-itis</td>
            <td>aud&imacr;v-itis</td>
            <td>c&emacr;p-itis</td>
            <td>quaes&imacr;v-itis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;v-&emacr;runt</td>
            <td>v&imacr;d-&emacr;runt</td>
            <td>aud&imacr;v-&emacr;runt</td>
            <td>c&emacr;p-&emacr;runt</td>
            <td>quaes&imacr;v-&emacr;runt</td>
        </tr>
        </tbody>
    </table>
</template>
<template data-art="verb" data-tempus="Perfekt" data-modus="Konjunktiv" data-genus="Aktiv">
    <table>
        <caption>Konjunktiv Perfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        <tr>
            <th scope="row">Perfektstamm</th>
            <td>rog&amacr;v-</td>
            <td>v&imacr;d-</td>
            <td>aud&imacr;v-</td>
            <td>c&emacr;p-</td>
            <td>quaes&imacr;v-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;v-eri-m</td>
            <td>v&imacr;d-eri-m</td>
            <td>aud&imacr;v-eri-m</td>
            <td>c&emacr;p-eri-m</td>
            <td>quaes&imacr;v-eri-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;v-er&imacr;-s</td>
            <td>v&imacr;d-er&imacr;-s</td>
            <td>aud&imacr;v-er&imacr;-s</td>
            <td>c&emacr;p-er&imacr;-s</td>
            <td>quaes&imacr;v-er&imacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;v-eri-t</td>
            <td>v&imacr;d-eri-t</td>
            <td>aud&imacr;v-eri-t</td>
            <td>c&emacr;p-eri-t</td>
            <td>quaes&imacr;v-eri-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;v-er&imacr;-mus</td>
            <td>v&imacr;d-er&imacr;-mus</td>
            <td>aud&imacr;v-er&imacr;-mus</td>
            <td>c&emacr;p-er&imacr;-mus</td>
            <td>quaes&imacr;v-er&imacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;v-er&imacr;-tis</td>
            <td>v&imacr;d-er&imacr;-tis</td>
            <td>aud&imacr;v-er&imacr;-tis</td>
            <td>c&emacr;p-er&imacr;-tis</td>
            <td>quaes&imacr;v-er&imacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;v-er&imacr;-nt</td>
            <td>v&imacr;d-er&imacr;-nt</td>
            <td>aud&imacr;v-er&imacr;-nt</td>
            <td>c&emacr;p-er&imacr;-nt</td>
            <td>quaes&imacr;v-er&imacr;-nt</td>
        </tr>
        </tbody>
    </table>
</template>


<template data-art="verb" data-tempus="Plqupf." data-modus="Indikativ" data-genus="Aktiv">
    <table>
        <caption>Indikativ Plusquamperfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        <tr>
            <th scope="row">Perfektstamm</th>
            <td>rog&amacr;v-</td>
            <td>v&imacr;d-</td>
            <td>aud&imacr;v-</td>
            <td>c&emacr;p-</td>
            <td>quaes&imacr;v-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;v-era-m</td>
            <td>v&imacr;d-era-m</td>
            <td>aud&imacr;v-era-m</td>
            <td>c&emacr;p-era-m</td>
            <td>quaes&imacr;v-era-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;v-er&amacr;-s</td>
            <td>v&imacr;d-er&amacr;-s</td>
            <td>aud&imacr;v-er&amacr;-s</td>
            <td>c&emacr;p-er&amacr;-s</td>
            <td>quaes&imacr;v-er&amacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;v-era-t</td>
            <td>v&imacr;d-era-t</td>
            <td>aud&imacr;v-era-t</td>
            <td>c&emacr;p-era-t</td>
            <td>quaes&imacr;v-era-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;v-er&amacr;-mus</td>
            <td>v&imacr;d-er&amacr;-mus</td>
            <td>aud&imacr;v-er&amacr;-mus</td>
            <td>c&emacr;p-er&amacr;-mus</td>
            <td>quaes&imacr;v-er&amacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;v-er&amacr;-tis</td>
            <td>v&imacr;d-er&amacr;-tis</td>
            <td>aud&imacr;v-er&amacr;-tis</td>
            <td>c&emacr;p-er&amacr;-tis</td>
            <td>quaes&imacr;v-er&amacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;v-era-nt</td>
            <td>v&imacr;d-era-nt</td>
            <td>aud&imacr;v-era-nt</td>
            <td>c&emacr;p-era-nt</td>
            <td>quaes&imacr;v-era-nt</td>
        </tr>
        </tbody>
    </table>
</template>
<template data-art="verb" data-tempus="Plqupf." data-modus="Konjunktiv" data-genus="Aktiv">
    <table>
        <caption>Konjunktiv Plusquamperfekt</caption>
        <thead>
        <tr>
            <th></th>
            <th scope="col">a-Konjug.</th>
            <th scope="col">e-Konjug.</th>
            <th scope="col">i-Konjug.</th>
            <th scope="col">gem.-Konjug.</th>
            <th scope="col">kons.-Konjug.</th>
        </tr>
        <tr>
            <th scope="row">Präsensstamm</th>
            <td>rog&amacr;-</td>
            <td>vid&emacr;-</td>
            <td>aud&imacr;-</td>
            <td>cap(i)-</td>
            <td>quaer-</td>
        </tr>
        <tr>
            <th scope="row">Perfektstamm</th>
            <td>rog&amacr;v-</td>
            <td>v&imacr;d-</td>
            <td>aud&imacr;v-</td>
            <td>c&emacr;p-</td>
            <td>quaes&imacr;v-</td>
        </tr>
        </thead>
        <tbody>
        <tr class="red_after_minus">
            <th scope="row">1. P. Sg.</th>
            <td>rog&amacr;v-isse-m</td>
            <td>v&imacr;d-isse-m</td>
            <td>aud&imacr;v-isse-m</td>
            <td>c&emacr;p-isse-m</td>
            <td>quaes&imacr;v-isse-m</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Sg.</th>
            <td>rog&amacr;v-iss&emacr;-s</td>
            <td>v&imacr;d-iss&emacr;-s</td>
            <td>aud&imacr;v-iss&emacr;-s</td>
            <td>c&emacr;p-iss&emacr;-s</td>
            <td>quaes&imacr;v-iss&emacr;-s</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Sg.</th>
            <td>rog&amacr;v-isse-t</td>
            <td>v&imacr;d-isse-t</td>
            <td>aud&imacr;v-isse-t</td>
            <td>c&emacr;p-isse-t</td>
            <td>quaes&imacr;v-isse-t</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">1. P. Pl.</th>
            <td>rog&amacr;v-iss&emacr;-mus</td>
            <td>v&imacr;d-iss&emacr;-mus</td>
            <td>aud&imacr;v-iss&emacr;-mus</td>
            <td>c&emacr;p-iss&emacr;-mus</td>
            <td>quaes&imacr;v-iss&emacr;-mus</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">2. P. Pl.</th>
            <td>rog&amacr;v-iss&emacr;-tis</td>
            <td>v&imacr;d-iss&emacr;-tis</td>
            <td>aud&imacr;v-iss&emacr;-tis</td>
            <td>c&emacr;p-iss&emacr;-tis</td>
            <td>quaes&imacr;v-iss&emacr;-tis</td>
        </tr>
        <tr class="red_after_minus">
            <th scope="row">3. P. Pl.</th>
            <td>rog&amacr;v-isse-nt</td>
            <td>v&imacr;d-isse-nt</td>
            <td>aud&imacr;v-isse-nt</td>
            <td>c&emacr;p-isse-nt</td>
            <td>quaes&imacr;v-isse-nt</td>
        </tr>
        </tbody>
    </table>
</template>
