---
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout />
<div class="font-jetbrains">
    <!-- Standard JetBrains Mono Schriftart -->
    Dies ist Text mit der Standard JetBrains Mono Schriftart.
</div>

<div class="font-jetbrainsBold">
    <!-- Fettdruck mit JetBrains Mono Bold -->
    Dies ist Text mit der JetBrains Mono Bold Schriftart.
</div>

<div class="font-jetbrainsItalic">
    <!-- Kursiv mit JetBrains Mono Italic -->
    Dies ist Text mit der JetBrains Mono Italic Schriftart.
</div>

<div class="font-jetbrainsLight">
    <!-- Light mit JetBrains Mono Light -->
    Dies ist Text mit der JetBrains Mono Light Schriftart.
</div>

<div class="font-jetbrainsThin">
    <!-- Dünn mit JetBrains Mono Thin -->
    Dies ist Text mit der JetBrains Mono Thin Schriftart.
</div>

<div class="font-jetbrainsExtraLight">
    <!-- Extra Light mit JetBrains Mono ExtraLight -->
    Dies ist Text mit der JetBrains Mono ExtraLight Schriftart.
</div>

<div class="font-jetbrainsMedium">
    <!-- Medium mit JetBrains Mono Medium -->
    Dies ist Text mit der JetBrains Mono Medium Schriftart.
</div>

<div class="font-jetbrainsSemiBold">
    <!-- SemiBold mit JetBrains Mono SemiBold -->
    Dies ist Text mit der JetBrains Mono SemiBold Schriftart.
</div>

<div class="font-jetbrainsExtraBold">
    <!-- ExtraBold mit JetBrains Mono ExtraBold -->
    Dies ist Text mit der JetBrains Mono ExtraBold Schriftart.
</div>

<!-- JetBrains Mono NL (Narrow) -->
<div class="font-jetbrainsNL">
    <!-- Schmalere Version -->
    Dies ist Text mit der schmaleren JetBrains Mono NL Regular Schriftart.
</div>

<div class="font-jetbrainsNLBold">
    <!-- Schmaler Fettd-->
    Dies ist Text mit der schmaleren JetBrains Mono NL Bold Schriftart.
</div>
