---
// ThemeToggle.astro
---

<button
        class="w-10 h-10 flex items-center justify-center bg-nord-1 text-white dark:bg-nord-4 dark:text-nord-0 rounded-full border-2 border-transparent transition-colors "
        id="theme-toggle"
        aria-label="Toggle Dark Mode"
>
    <!-- Sun icon for light mode -->
    <i class="nf nf-oct-sun" id="sun-icon"></i>

    <!-- Moon icon for dark mode -->
    <i id="moon-icon" class="nf nf-oct-moon"></i>
</button>

<script type="module">
    const themeToggleButton = document.getElementById("theme-toggle");
    const sunIcon = document.getElementById("sun-icon");
    const moonIcon = document.getElementById("moon-icon");

    // Helper function to get theme from cookies
    const getThemeFromCookie = () => {
        const cookies = document.cookie.split(';');
        const themeCookie = cookies.find(cookie => cookie.trim().startsWith('theme='));
        return themeCookie ? themeCookie.split('=')[1] : 'light';
    }

    // Helper function to set theme in cookies
    const setThemeInCookie = (theme) => {
        document.cookie = `theme=${theme}; path=/; max-age=31536000`; // expires in 1 year
    }

    // Set the initial theme based on the cookie value
    const currentTheme = getThemeFromCookie();
    if (currentTheme === 'dark') {
        document.documentElement.classList.add("dark");
        sunIcon.classList.remove("hidden");
        moonIcon.classList.add("hidden");
    } else {
        document.documentElement.classList.remove("dark");
        sunIcon.classList.add("hidden");
        moonIcon.classList.remove("hidden");
    }

    // Toggle theme on button click
    themeToggleButton.addEventListener("click", () => {
        const isDarkMode = document.documentElement.classList.toggle("dark");

        if (isDarkMode) {
            sunIcon.classList.remove("hidden");
            moonIcon.classList.add("hidden");
            setThemeInCookie("dark"); // Save dark theme in cookie
        } else {
            sunIcon.classList.add("hidden");
            moonIcon.classList.remove("hidden");
            setThemeInCookie("light"); // Save light theme in cookie
        }
    });
</script>
