---
import TablesTemplates from "../../../components/lateindingsdabumsta/tables_templates.astro"
import MainJs from "../../../components/lateindingsdabumsta/main_js.astro"
import Navbar from "../../../components/Navbar.astro";
---
<head>
    <meta charset="UTF-8">
    <title>Tempus, Modus, Genus Verbi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/main.css">

    <style is:global>
        .hidden-cell {
            display: none; /* Hides the cell completely */
            /* Alternatively, you can use visibility: hidden; */
        }
        .selected {
            background-color: #d08770 !important;
        }
        .red-text {
            font-weight: bold;
            color: red;
        }
        #Output_table th, #Output_table td, #settings th, #settings td {
            border: 1px solid black;
        }
        .black-text {
            font-weight: normal;
        }
    </style>
</head>
<body>
<div>
    <!-- Buttons Section -->
    <div>
        <button id="substantive_button">
            Substanive
        </button>
        <button id="verb_button">
            Verben
        </button>
    </div>
</div>

<!-- Output Section -->
<div class="overflow-x-scroll">
    <p id="Output_form"></p>
    <br>
    <div id="Output_table"></div>
</div>

<!-- Settings Table -->
<br />
<div>
    <table id="settings"><caption>Verb</caption></table>
</div>
</body>

<TablesTemplates />
<MainJs />