---
const { title, description, children } = Astro.props;
import Navbar from "../components/Navbar.astro";
const navLinks = [
    { text: 'Home', href: '/' },
    { text: 'Blog', href: '/blog' },
    { text: 'About', href: '/about' }
];
import "../styles/global.css";
import "../styles/fonts.css";
---

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <script>
        if (
            localStorage.theme === 'dark' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>

</head>
<body class="">
    <Navbar navLinks={navLinks} />

<main class="container mx-auto px-4 py-8">{children}</main>
</body>
</html>
